/* styles.scss */

/* 整体卡片容器 */
.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  /* slide-button：按钮居中，横向排列，大小适中 */
  .slide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
      margin: 0 10px;
      padding: 8px 16px;
      font-size: 14px;
    }
  }

  /* view容器：确保animation与show-index平齐横向排列 */
  .view {
    display: flex;
    align-items: center;
  }
  .show-index{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    .index-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:10px;
      height: 100%;
      width: 100%;
    }
  }
  .animation {
    margin-right: 20px;
  }

  /* answer：4个按钮居中，横向排列，大小适中 */
  .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    button {
      width: 100%;
      margin: 0 10px;
      padding: 8px 16px;
      font-size: 14px;
    }
    .warn{
      background-color: #ffcb1e;
      border: 1px solid #ffdc68;
    }
  }

  /* score-description：排列下方，字体大小适中 */
  .score-description {
    margin-top: 20px;
    font-size: 14px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 8px;
      }
    }
  }
}
.horizontal-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; // 垂直居中
}