//文本css
//文本框
pre.app-code {
  background-color: var(--surface-ground); //设置文本颜色
  margin: 0 0 1rem 0; //设置外边距
  padding: 0;
  border-radius: var(--border-radius);
  overflow: auto; //设置溢出行为
  //文本
  code {
    color: var(--surface-900);
    padding: 1rem; //设置内边距
    line-height: 1.5; //设置行高
    display: block; //将 code 元素设置为块级元素，使其独占一行。
    font-family: monaco, Consolas, monospace; //设置字体
  }
}
